<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>343741785039-347u4e0lm97in3knogrupct31usacivc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.343741785039-347u4e0lm97in3knogrupct31usacivc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>343741785039-gttgi7ig5pbce4bp472kr7nu6d5h38ds.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDduAy4F19WuJJYaz8nS19vISm2FuLwx50</string>
	<key>GCM_SENDER_ID</key>
	<string>343741785039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mlitech.rewaldo.customer</string>
	<key>PROJECT_ID</key>
	<string>rewaldo-app</string>
	<key>STORAGE_BUCKET</key>
	<string>rewaldo-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:343741785039:ios:02925a01dac9385306e8ba</string>
</dict>
</plist>